<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoProject" verbose="10" parallel="tests" thread-count="3">
    <test name="Tests">
        <groups>
            <run>
                <include name="placeOrder"/>
            </run>
        </groups>
        <packages>
            <package name="com.sample.test.demo.tests.*"/>
        </packages>
    </test>
</suite>

